.signup {
  position: relative;
  background-color: #343a40;
  background: url("../img/01.jpg") no-repeat center center; // Photo by Persnickety Prints on Unsplash
  background-size: cover;
  padding: em(100) 0;
  &__overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
  }
  &__text {
    // some code
    &__h1 {
      color: white;
    }
    &__form {
      margin: em(20) 0;
    }
  }
}
